

<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>           
  
  <% users.forEach(function(user){%>
          <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">    
                
               <div class = "caption" >
                 <h4> <%= user.firstname %> </h4>
                
               </div>                              
                
              </div>
         </div>              
     <% }) %>


 

     
      </div>
    </main>
  </div>
</div>

   
   


     



   

  <%- include('../partials/footer'); %>