<%- include('../partials/header'); %>



<% if(currentUser.role === 'admin') {%>
ss
	<p>users <a href = "/page/admin/page" class = "btn btn-primary">profile</p>
		
			
<% } else if(currentUser.role === 'user'){ %>
	<div class="jumbotron" style="text-align: center"> welcome <%= currentUser.role %>jonathan </div>	
	

<% } else if(currentUser.role === 'landlord') { %>
	<p> this is the <%= currentUser.role %> page
	this is teh landlord page

<% } %>


                    
    

<% property.forEach(function(property){%>
 <div class="gallery" style="height: 180px; width: 180px; margin: 30px; overflow: scroll;">
    <a target="_blank" href="/property/property/<%=property.id%>/show">
      <img src="<%= property.photo %>" alt="..." class="img-thumbnail">
      
    </a>
    <div class="desc"><%= property.description %></div>
</div>
 <p class="lead"><%= property.owner %></p>
 <% }) %> 


 <%- include('../partials/footer'); %>
	
	



