<%- include('../partials/header'); %>



<% if(currentUser.role === 'admin') {%>
ss
	<p>users <a href = "/page/admin/page" class = "btn btn-primary">profile</p>
		
			
<% } else if(currentUser.role === 'user'){ %>
	<div class="jumbotron" style="text-align: center"> welcome <%= currentUser.role %>jonathan </div>	
	

<% } else if(currentUser.role === 'landlord') { %>
	<p> this is the <%= currentUser.role %> page
	this is teh landlord page

<% } %>




          <!-- <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">    
                  
               <div class = "caption" >
              	 <h4>  </h4>
                
               </div>                              
              	
              </div>
         </div>  -->             
    

<% property.forEach(function(property){%>
 <div class="gallery">
    <a target="_blank" href="/property/property/<%=property.id%>/show">
      <img src="<%= property.photo %>" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc"><%= property.description %></div>
</div>
 <% }) %> 

 <p class="lead"><%= property.owner %></p>
 <%- include('../partials/footer'); %>
	
	



